<div id="<%= dom_id worker %>">
  <p>
    <strong>Name:</strong>
    <%= worker.name %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= worker.department %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= worker.year %>
  </p>

</div>
